.back-button {
  position: absolute;
  top: 20px;
  left: 80px;
  padding: 10px 20px;
  background-color: #8e8e8e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.back-button:hover {
  background-color: #000000;
}
